@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.btn {
  @apply bg-amber-500 p-4 rounded;
}

@theme {
  --color-primary: theme("color.gray.50");
  --color-secondary: theme("color.gray.800");
  --color-accent: theme("color.blue.600");
  --font-family: "Tajawal", sans-serif;
}

@layer base {
  .dark {
    --color-primary: theme("color.gray.800");
    --color-secondary: theme("color.gray.100");
    --color-accent: theme("color.blue.400");
  }
}
